[Unit]
Description=Ethernet Kickstart
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/eth_kick_start_netx4000-0.0.1
ExecStart=/opt/eth_kick_start_netx4000-0.0.1/lua5.4 eth_detect.lua
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
